# Processing an eDNA dataset to Darwin Core
## Reading the original dataset
### List all dataset files

In [1]:
list.files("../dataset", full.names = "TRUE")

[1] "../dataset/metadata.txt"    "../dataset/samples.xlsx"
[3] "../dataset/seqtab.txt"      "../dataset/sequences.fasta"
[5] "../dataset/taxonomy.txt"

### Read the ASV table

`../dataset/seqtab.txt` contains the ASV table, so it has one row per ASV, and the number of reads in a sample in different columns.

In [2]:
library(dplyr)

seqtab <- read.table("../dataset/seqtab.txt", sep = "\t", header = TRUE)
head(seqtab)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  asv   EE0493 EE0495
1 asv.1     0     0
2 asv.2    14  2447
3 asv.3     0     0
4 asv.4     0     0
5 asv.5 40587  1857
6 asv.6     7    10

### Read the taxonomy file

`../dataset/taxonomy.txt` contains a taxon name for each ASV.

In [3]:
taxonomy <- read.table("../dataset/taxonomy.txt", sep = "\t", header = TRUE)
head(taxonomy)

  asv   taxonomy
1 asv.1 Eukaryota
2 asv.2 Clausocalanus_furcatus
3 asv.3 Eurotatoria
4 asv.4 Arthropoda
5 asv.5 Eukaryota
6 asv.6 Farranula_gibbula

These names originate from the reference database and will have to be matched to WoRMS later.

### Read the sample metadata

We also have an Excel file with sample info.

In [4]:
samples <- readxl::read_excel("../dataset/samples.xlsx")
samples

  name   size event_begin area_name        area_longitude area_latitude
1 EE0493 1450 24/04/2023  Ile esprit       46.22536       9.425180
2 EE0495 1500 02/04/2023  Settlement beach 46.20605       9.400901
  area_uncertainty parent_area_name dna
1 20               Aldabra Atoll     7.23
2 98               Aldabra Atoll    15.83

## Joining the tables

At this point we could start quality control on the individual tables, but if we first join and map the tables to Darwin Core occurrence terms, the quality control code will be easier to read.

### Event fields

Let's start with the sample table. This table has sample identifiers, time, coordinates, coordinate uncertainty, locality, and higher geography which can all be mapped to Darwin Core.

In [20]:
event <- samples %>%
    select(
        eventID = name,
        materialSampleID = name,
        eventDate = event_begin,
        locality = area_name,
        decimalLongitude = area_longitude,
        decimalLatitude = area_latitude,
        coordinateUncertaintyInMeters = area_uncertainty,
        higherGeography = parent_area_name,
        sampleSizeValue = size
    ) %>%
    mutate(sampleSizeUnit = "ml")
event

  eventID materialSampleID eventDate  locality         decimalLongitude
1 EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
  decimalLatitude coordinateUncertaintyInMeters higherGeography sampleSizeValue
1 9.425180        20                            Aldabra Atoll   1450
2 9.400901        98                            Aldabra Atoll   1500
  sampleSizeUnit
1 ml
2 ml

### Occurrence fields

Next is the ASV table. This table is in a wide format with ASVs as rows and samples as columns. We will convert this to a long format, with one row per occurrence and the number of sequence reads as `organismQuantity`. We will use the sample identifier as `eventID` and the combination of sample identifier and ASV number as the `occurrenceID`.

In [28]:
library(tidyr)

seqtab %>%
    gather(eventID, organismQuantity, 2:3) %>%
    filter(organismQuantity > 0) %>%
    mutate(occurrenceID = paste0(eventID, "_", asv))

      asv       eventID organismQuantity occurrenceID
1     asv.2     EE0493     14            EE0493_asv.2
2     asv.5     EE0493  40587            EE0493_asv.5
3     asv.6     EE0493      7            EE0493_asv.6
4     asv.7     EE0493  29367            EE0493_asv.7
5     asv.8     EE0493  72378            EE0493_asv.8
6     asv.9     EE0493  35970            EE0493_asv.9
7     asv.10    EE0493     10            EE0493_asv.10
8     asv.11    EE0493   4375            EE0493_asv.11
9     asv.12    EE0493   6853            EE0493_asv.12
10    asv.14    EE0493   2299            EE0493_asv.14
11    asv.16    EE0493     18            EE0493_asv.16
12    asv.17    EE0493   8017            EE0493_asv.17
13    asv.19    EE0493   1736            EE0493_asv.19
14    asv.20    EE0493    428            EE0493_asv.20
15    asv.21    EE0493   1711            EE0493_asv.21
16    asv.25    EE0493   2539            EE0493_asv.25
17    asv.28    EE0493      8            EE0493_asv.28
18    asv.29    EE0493   2378            EE0493_asv.29
19    asv.30    EE0493      5            EE0493_asv.30
20    asv.31    EE0493   2645            EE0493_asv.31
21    asv.33    EE0493   2074            EE0493_asv.33
22    asv.37    EE0493   2200            EE0493_asv.37
23    asv.38    EE0493   1204            EE0493_asv.38
24    asv.39    EE0493     18            EE0493_asv.39
25    asv.42    EE0493      7            EE0493_asv.42
26    asv.43    EE0493    634            EE0493_asv.43
27    asv.45    EE0493     71            EE0493_asv.45
28    asv.47    EE0493    422            EE0493_asv.47
29    asv.49    EE0493      1            EE0493_asv.49
30    asv.50    EE0493      5            EE0493_asv.50
⋮     ⋮         ⋮       ⋮                ⋮
13346 asv.16798 EE0495  11               EE0495_asv.16798
13347 asv.16813 EE0495   1               EE0495_asv.16813
13348 asv.16814 EE0495   1               EE0495_asv.16814
13349 asv.16815 EE0495   4               EE0495_asv.16815
13350 asv.16816 EE0495   7               EE0495_asv.16816
13351 asv.16823 EE0495   3               EE0495_asv.16823
13352 asv.16826 EE0495   9               EE0495_asv.16826
13353 asv.16847 EE0495   3               EE0495_asv.16847
13354 asv.16864 EE0495   1               EE0495_asv.16864
13355 asv.16867 EE0495   5               EE0495_asv.16867
13356 asv.16875 EE0495   1               EE0495_asv.16875
13357 asv.16879 EE0495   2               EE0495_asv.16879
13358 asv.16880 EE0495   5               EE0495_asv.16880
13359 asv.16881 EE0495   5               EE0495_asv.16881
13360 asv.16882 EE0495   3               EE0495_asv.16882
13361 asv.16897 EE0495   2               EE0495_asv.16897
13362 asv.16898 EE0495   1               EE0495_asv.16898
13363 asv.16914 EE0495   2               EE0495_asv.16914
13364 asv.16916 EE0495   2               EE0495_asv.16916
13365 asv.16918 EE0495   3               EE0495_asv.16918
13366 asv.16919 EE0495   3               EE0495_asv.16919
13367 asv.16920 EE0495   2               EE0495_asv.16920
13368 asv.16921 EE0495   3               EE0495_asv.16921
13369 asv.16922 EE0495   3               EE0495_asv.16922
13370 asv.16923 EE0495   2               EE0495_asv.16923
13371 asv.16949 EE0495   1               EE0495_asv.16949
13372 asv.16958 EE0495   1               EE0495_asv.16958
13373 asv.16961 EE0495   1               EE0495_asv.16961
13374 asv.16962 EE0495   1               EE0495_asv.16962
13375 asv.16963 EE0495   2               EE0495_asv.16963

## Quality control

### Taxon matching

Let's first match the taxa with WoRMS. This can be done using the `obistools` package. Before matching with WoRMS we will remove underscores from the scientific names.

In [5]:
taxonomy <- taxonomy %>%
    mutate(taxonomy = stringr::str_replace(taxonomy, "_", " "))

In [6]:
matched <- obistools::match_taxa(taxonomy$taxonomy, ask = FALSE)

668 names, 0 without matches, 11 with multiple matches

In [7]:
taxonomy <- bind_cols(taxonomy, matched)

In [15]:
taxonomy %>%
    filter(is.na(scientificNameID)) %>%
    group_by(taxonomy) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

   taxonomy                       n
1  undef Oomycota                 31
2  Cypretta maya                  21
3  undef Bacteria_bacteria        19
4  Navicula                        8
5  Clathria genus                  6
6  Aerococcus urinae               5
7  Paravannella minima             4
8  Calonectria colhounii           3
9  Culex impudicus                 3
10 Nitzschia sp._BOLD:AAO7110      3
11 undef Gastropoda                3
12 Holothuria                      2
13 Pinnularia acrosphaeria         2
14 undef undef_Eukaryota           2
15 Aplysia                         1
16 Aurantiochytrium mangrovei      1
17 Austrosciara hyalipennis        1
18 Cerithium nodulosum             1
19 Chondrilla sponges              1
20 Cladonema digitatum             1
21 Cladosporium tenuissimum        1
22 Clytia                          1
23 Cochliopodium larifeili         1
24 Cochliopodium marrii            1
25 Colletotrichum gloeosporioides  1
26 Cymadusa filosa                 1
27 Gerres longirostris             1
28 Gliocladium viride              1
29 Lobophora brown_algae           1
30 Macroconia gigas                1
31 Nitzschia diatoms               1
32 Periplaneta brunnea             1
33 Synchaetomella acerina          1
34 Tapinoma melanocephalum         1
35 Tetramorium scytalum            1
36 Thoosa                          1

Normally we have to resolve these names one by one, but for this exercise we will just fix the most common errors. For example, records annotated as eukaryotes can be populated with scientificName `Incertae sedis` and scientificNameID `urn:lsid:marinespecies.org:taxname:12`.

In [14]:
taxonomy <- taxonomy %>%
    mutate(
        scientificName = case_when(taxonomy %in% c("Eukaryota", "undef Eukaryota", "") ~ "Incertae sedis", .default = scientificName),
        scientificNameID = case_when(taxonomy %in% c("Eukaryota", "undef Eukaryota", "") ~ "urn:lsid:marinespecies.org:taxname:12", .default = scientificNameID)
    )

In [16]:
taxonomy %>%
    filter(is.na(scientificNameID)) %>%
    group_by(taxonomy) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

   taxonomy                       n
1  undef Oomycota                 31
2  Cypretta maya                  21
3  undef Bacteria_bacteria        19
4  Navicula                        8
5  Clathria genus                  6
6  Aerococcus urinae               5
7  Paravannella minima             4
8  Calonectria colhounii           3
9  Culex impudicus                 3
10 Nitzschia sp._BOLD:AAO7110      3
11 undef Gastropoda                3
12 Holothuria                      2
13 Pinnularia acrosphaeria         2
14 undef undef_Eukaryota           2
15 Aplysia                         1
16 Aurantiochytrium mangrovei      1
17 Austrosciara hyalipennis        1
18 Cerithium nodulosum             1
19 Chondrilla sponges              1
20 Cladonema digitatum             1
21 Cladosporium tenuissimum        1
22 Clytia                          1
23 Cochliopodium larifeili         1
24 Cochliopodium marrii            1
25 Colletotrichum gloeosporioides  1
26 Cymadusa filosa                 1
27 Gerres longirostris             1
28 Gliocladium viride              1
29 Lobophora brown_algae           1
30 Macroconia gigas                1
31 Nitzschia diatoms               1
32 Periplaneta brunnea             1
33 Synchaetomella acerina          1
34 Tapinoma melanocephalum         1
35 Tetramorium scytalum            1
36 Thoosa                          1

In [17]:
head(taxonomy)

      asv   taxonomy               scientificName
248   asv.1 Eukaryota              Incertae sedis
162   asv.2 Clausocalanus furcatus Clausocalanus furcatus
252   asv.3 Eurotatoria            Eurotatoria
49    asv.4 Arthropoda             Arthropoda
248.1 asv.5 Eukaryota              Incertae sedis
255   asv.6 Farranula gibbula      Farranula gibbula
      scientificNameID                          match_type acceptedNameUsageID
248   urn:lsid:marinespecies.org:taxname:12     NA         NA
162   urn:lsid:marinespecies.org:taxname:104503 exact      104503
252   urn:lsid:marinespecies.org:taxname:368537 exact      368537
49    urn:lsid:marinespecies.org:taxname:1065   exact      1065
248.1 urn:lsid:marinespecies.org:taxname:12     NA         NA
255   urn:lsid:marinespecies.org:taxname:346477 exact      346477