# Processing an eDNA dataset to Darwin Core
## Reading the original dataset
### List all dataset files

In [1]:
list.files("../dataset", full.names = "TRUE")

[1] "../dataset/metadata.txt"    "../dataset/samples.xlsx"
[3] "../dataset/seqtab.txt"      "../dataset/sequences.fasta"
[5] "../dataset/taxonomy.txt"

### Read the ASV table

`../dataset/seqtab.txt` contains the ASV table, so it has one row per ASV, and the number of reads in a sample in different columns.

In [2]:
library(dplyr)

seqtab <- read.table("../dataset/seqtab.txt", sep = "\t", header = TRUE)
head(seqtab)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  asv   EE0493 EE0495
1 asv.1     0     0
2 asv.2    14  2447
3 asv.3     0     0
4 asv.4     0     0
5 asv.5 40587  1857
6 asv.6     7    10

### Read the taxonomy file

`../dataset/taxonomy.txt` contains a taxon name for each ASV.

In [32]:
taxonomy <- read.table("../dataset/taxonomy.txt", sep = "\t", header = TRUE)
head(taxonomy)

  asv   taxonomy
1 asv.1 Eukaryota
2 asv.2 Clausocalanus_furcatus
3 asv.3 Eurotatoria
4 asv.4 Arthropoda
5 asv.5 Eukaryota
6 asv.6 Farranula_gibbula

These names originate from the reference database and will have to be matched to WoRMS later.

### Read the sample metadata

We also have an Excel file with sample info.

In [4]:
samples <- readxl::read_excel("../dataset/samples.xlsx")
samples

  name   size event_begin area_name        area_longitude area_latitude
1 EE0493 1450 24/04/2023  Ile esprit       46.22536       9.425180
2 EE0495 1500 02/04/2023  Settlement beach 46.20605       9.400901
  area_uncertainty parent_area_name dna
1 20               Aldabra Atoll     7.23
2 98               Aldabra Atoll    15.83

## Joining the tables

At this point we could start quality control on the individual tables, but if we first join and map the tables to Darwin Core occurrence terms, the quality control code will be easier to read.

### Event fields

Let's start with the sample table. This table has sample identifiers, time, coordinates, coordinate uncertainty, locality, and higher geography which can all be mapped to Darwin Core.

In [20]:
event <- samples %>%
    select(
        eventID = name,
        materialSampleID = name,
        eventDate = event_begin,
        locality = area_name,
        decimalLongitude = area_longitude,
        decimalLatitude = area_latitude,
        coordinateUncertaintyInMeters = area_uncertainty,
        higherGeography = parent_area_name,
        sampleSizeValue = size
    ) %>%
    mutate(sampleSizeUnit = "ml")
event

  eventID materialSampleID eventDate  locality         decimalLongitude
1 EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
  decimalLatitude coordinateUncertaintyInMeters higherGeography sampleSizeValue
1 9.425180        20                            Aldabra Atoll   1450
2 9.400901        98                            Aldabra Atoll   1500
  sampleSizeUnit
1 ml
2 ml

### Occurrence fields

Next is the ASV table. This table is in a wide format with ASVs as rows and samples as columns. We will convert this to a long format, with one row per occurrence and the number of sequence reads as `organismQuantity`. We will use the sample identifier as `eventID` and the combination of sample identifier and ASV number as the `occurrenceID`.

In [37]:
library(tidyr)

occurrence <- seqtab %>%
    gather(eventID, organismQuantity, 2:3) %>%
    filter(organismQuantity > 0) %>%
    mutate(
        occurrenceID = paste0(eventID, "_", asv),
        organismQuantityType = "sequence reads"
    )
occurrence

      asv       eventID organismQuantity occurrenceID
1     asv.2     EE0493     14            EE0493_asv.2
2     asv.5     EE0493  40587            EE0493_asv.5
3     asv.6     EE0493      7            EE0493_asv.6
4     asv.7     EE0493  29367            EE0493_asv.7
5     asv.8     EE0493  72378            EE0493_asv.8
6     asv.9     EE0493  35970            EE0493_asv.9
7     asv.10    EE0493     10            EE0493_asv.10
8     asv.11    EE0493   4375            EE0493_asv.11
9     asv.12    EE0493   6853            EE0493_asv.12
10    asv.14    EE0493   2299            EE0493_asv.14
11    asv.16    EE0493     18            EE0493_asv.16
12    asv.17    EE0493   8017            EE0493_asv.17
13    asv.19    EE0493   1736            EE0493_asv.19
14    asv.20    EE0493    428            EE0493_asv.20
15    asv.21    EE0493   1711            EE0493_asv.21
16    asv.25    EE0493   2539            EE0493_asv.25
17    asv.28    EE0493      8            EE0493_asv.28
18    asv.29    EE0493   2378            EE0493_asv.29
19    asv.30    EE0493      5            EE0493_asv.30
20    asv.31    EE0493   2645            EE0493_asv.31
21    asv.33    EE0493   2074            EE0493_asv.33
22    asv.37    EE0493   2200            EE0493_asv.37
23    asv.38    EE0493   1204            EE0493_asv.38
24    asv.39    EE0493     18            EE0493_asv.39
25    asv.42    EE0493      7            EE0493_asv.42
26    asv.43    EE0493    634            EE0493_asv.43
27    asv.45    EE0493     71            EE0493_asv.45
28    asv.47    EE0493    422            EE0493_asv.47
29    asv.49    EE0493      1            EE0493_asv.49
30    asv.50    EE0493      5            EE0493_asv.50
⋮     ⋮         ⋮       ⋮                ⋮
13346 asv.16798 EE0495  11               EE0495_asv.16798
13347 asv.16813 EE0495   1               EE0495_asv.16813
13348 asv.16814 EE0495   1               EE0495_asv.16814
13349 asv.16815 EE0495   4               EE0495_asv.16815
13350 asv.16816 EE0495   7               EE0495_asv.16816
13351 asv.16823 EE0495   3               EE0495_asv.16823
13352 asv.16826 EE0495   9               EE0495_asv.16826
13353 asv.16847 EE0495   3               EE0495_asv.16847
13354 asv.16864 EE0495   1               EE0495_asv.16864
13355 asv.16867 EE0495   5               EE0495_asv.16867
13356 asv.16875 EE0495   1               EE0495_asv.16875
13357 asv.16879 EE0495   2               EE0495_asv.16879
13358 asv.16880 EE0495   5               EE0495_asv.16880
13359 asv.16881 EE0495   5               EE0495_asv.16881
13360 asv.16882 EE0495   3               EE0495_asv.16882
13361 asv.16897 EE0495   2               EE0495_asv.16897
13362 asv.16898 EE0495   1               EE0495_asv.16898
13363 asv.16914 EE0495   2               EE0495_asv.16914
13364 asv.16916 EE0495   2               EE0495_asv.16916
13365 asv.16918 EE0495   3               EE0495_asv.16918
13366 asv.16919 EE0495   3               EE0495_asv.16919
13367 asv.16920 EE0495   2               EE0495_asv.16920
13368 asv.16921 EE0495   3               EE0495_asv.16921
13369 asv.16922 EE0495   3               EE0495_asv.16922
13370 asv.16923 EE0495   2               EE0495_asv.16923
13371 asv.16949 EE0495   1               EE0495_asv.16949
13372 asv.16958 EE0495   1               EE0495_asv.16958
13373 asv.16961 EE0495   1               EE0495_asv.16961
13374 asv.16962 EE0495   1               EE0495_asv.16962
13375 asv.16963 EE0495   2               EE0495_asv.16963

We can now add the taxonomic names to ourt occurrence table.

In [36]:
taxonomy <- taxonomy %>%
    select(asv, verbatimIdentification = taxonomy)

In [38]:
occurrence <- occurrence %>%
    left_join(taxonomy, by = "asv")
occurrence

      asv       eventID organismQuantity occurrenceID
1     asv.2     EE0493     14            EE0493_asv.2
2     asv.5     EE0493  40587            EE0493_asv.5
3     asv.6     EE0493      7            EE0493_asv.6
4     asv.7     EE0493  29367            EE0493_asv.7
5     asv.8     EE0493  72378            EE0493_asv.8
6     asv.9     EE0493  35970            EE0493_asv.9
7     asv.10    EE0493     10            EE0493_asv.10
8     asv.11    EE0493   4375            EE0493_asv.11
9     asv.12    EE0493   6853            EE0493_asv.12
10    asv.14    EE0493   2299            EE0493_asv.14
11    asv.16    EE0493     18            EE0493_asv.16
12    asv.17    EE0493   8017            EE0493_asv.17
13    asv.19    EE0493   1736            EE0493_asv.19
14    asv.20    EE0493    428            EE0493_asv.20
15    asv.21    EE0493   1711            EE0493_asv.21
16    asv.25    EE0493   2539            EE0493_asv.25
17    asv.28    EE0493      8            EE0493_asv.28
18    asv.29    EE0493   2378            EE0493_asv.29
19    asv.30    EE0493      5            EE0493_asv.30
20    asv.31    EE0493   2645            EE0493_asv.31
21    asv.33    EE0493   2074            EE0493_asv.33
22    asv.37    EE0493   2200            EE0493_asv.37
23    asv.38    EE0493   1204            EE0493_asv.38
24    asv.39    EE0493     18            EE0493_asv.39
25    asv.42    EE0493      7            EE0493_asv.42
26    asv.43    EE0493    634            EE0493_asv.43
27    asv.45    EE0493     71            EE0493_asv.45
28    asv.47    EE0493    422            EE0493_asv.47
29    asv.49    EE0493      1            EE0493_asv.49
30    asv.50    EE0493      5            EE0493_asv.50
⋮     ⋮         ⋮       ⋮                ⋮
13346 asv.16798 EE0495  11               EE0495_asv.16798
13347 asv.16813 EE0495   1               EE0495_asv.16813
13348 asv.16814 EE0495   1               EE0495_asv.16814
13349 asv.16815 EE0495   4               EE0495_asv.16815
13350 asv.16816 EE0495   7               EE0495_asv.16816
13351 asv.16823 EE0495   3               EE0495_asv.16823
13352 asv.16826 EE0495   9               EE0495_asv.16826
13353 asv.16847 EE0495   3               EE0495_asv.16847
13354 asv.16864 EE0495   1               EE0495_asv.16864
13355 asv.16867 EE0495   5               EE0495_asv.16867
13356 asv.16875 EE0495   1               EE0495_asv.16875
13357 asv.16879 EE0495   2               EE0495_asv.16879
13358 asv.16880 EE0495   5               EE0495_asv.16880
13359 asv.16881 EE0495   5               EE0495_asv.16881
13360 asv.16882 EE0495   3               EE0495_asv.16882
13361 asv.16897 EE0495   2               EE0495_asv.16897
13362 asv.16898 EE0495   1               EE0495_asv.16898
13363 asv.16914 EE0495   2               EE0495_asv.16914
13364 asv.16916 EE0495   2               EE0495_asv.16916
13365 asv.16918 EE0495   3               EE0495_asv.16918
13366 asv.16919 EE0495   3               EE0495_asv.16919
13367 asv.16920 EE0495   2               EE0495_asv.16920
13368 asv.16921 EE0495   3               EE0495_asv.16921
13369 asv.16922 EE0495   3               EE0495_asv.16922
13370 asv.16923 EE0495   2               EE0495_asv.16923
13371 asv.16949 EE0495   1               EE0495_asv.16949
13372 asv.16958 EE0495   1               EE0495_asv.16958
13373 asv.16961 EE0495   1               EE0495_asv.16961
13374 asv.16962 EE0495   1               EE0495_asv.16962
13375 asv.16963 EE0495   2               EE0495_asv.16963
      verbatimIdentification
1     Clausocalanus_furcatus
2     Eukaryota
3     Farranula_gibbula
4     Eukaryota
5     Metazoa
6     Eukaryota
7     Metazoa
8     Eukaryota
9     Eukaryota
10    Eukaryota
11    Clausocalanus_furcatus
12    Eukaryota
13    Eukaryota
14    Eukaryota
15    Eukaryota
16    Eukaryota
17    Clausocalanus_furcatus
18    Eukaryota
19    Farranula_gibbula
20    undef_Eukaryota
21    Eukaryota
22    Eukaryota
23    Eukaryota
24    Acartia_negligens
25    Metazoa
26    Phaeocystis
27    Eukaryota
28    Metazoa
29    Phanerophthalmus_lentigines
30    Metazoa
⋮     ⋮
13346 Metazoa
13347 Metazoa
13348 Eukaryota
13349 Metazoa
13350 Metazoa
13351 Eukaryota
13352 Metazoa
13353 Eukaryota
13354 Eukaryota
13355 Eukaryota
13356 Clausocalanus_furcatus
13357 Metazoa
13358 Metazoa
13359 Metazoa
13360 Eukaryota
13361 Metazoa
13362 Metazoa
13363 Eukaryota
13364 Oncaea_media
13365 Eukaryota
13366 Eukaryota
13367 Metazoa
13368 Eukaryota
13369 Arthropoda
13370 Eukaryota
13371 Metazoa
13372 Eukaryota
13373 Eukaryota
13374 Mantoniella_squamata
13375 Metazoa

### Joining event and occurrence fields

In [40]:
occurrence <- event %>%
    left_join(occurrence, by = "eventID")
occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
6     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
7     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
8     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
9     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
10    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
11    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
12    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
13    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
14    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
15    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
16    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
17    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
18    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
19    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
20    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
21    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
22    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
23    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
24    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
25    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
26    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
27    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
28    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
29    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
30    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13346 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13347 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13348 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13349 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13350 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13351 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13352 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13353 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13354 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13355 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13356 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13357 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13358 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13359 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13360 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13361 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13362 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13363 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13364 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13365 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13366 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13367 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13368 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13369 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13370 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
6     9.42518         20                            Aldabra Atoll
7     9.42518         20                            Aldabra Atoll
8     9.42518         20                            Aldabra Atoll
9     9.42518         20                            Aldabra Atoll
10    9.42518         20                            Aldabra Atoll
11    9.42518         20                            Aldabra Atoll
12    9.42518         20                            Aldabra Atoll
13    9.42518         20                            Aldabra Atoll
14    9.42518         20                            Aldabra Atoll
15    9.42518         20                            Aldabra Atoll
16    9.42518         20                            Aldabra Atoll
17    9.42518         20                            Aldabra Atoll
18    9.42518         20                            Aldabra Atoll
19    9.42518         20                            Aldabra Atoll
20    9.42518         20                            Aldabra Atoll
21    9.42518         20                            Aldabra Atoll
22    9.42518         20                            Aldabra Atoll
23    9.42518         20                            Aldabra Atoll
24    9.42518         20                            Aldabra Atoll
25    9.42518         20                            Aldabra Atoll
26    9.42518         20                            Aldabra Atoll
27    9.42518         20                            Aldabra Atoll
28    9.42518         20                            Aldabra Atoll
29    9.42518         20                            Aldabra Atoll
30    9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13346 9.400901        98                            Aldabra Atoll
13347 9.400901        98                            Aldabra Atoll
13348 9.400901        98                            Aldabra Atoll
13349 9.400901        98                            Aldabra Atoll
13350 9.400901        98                            Aldabra Atoll
13351 9.400901        98                            Aldabra Atoll
13352 9.400901        98                            Aldabra Atoll
13353 9.400901        98                            Aldabra Atoll
13354 9.400901        98                            Aldabra Atoll
13355 9.400901        98                            Aldabra Atoll
13356 9.400901        98                            Aldabra Atoll
13357 9.400901        98                            Aldabra Atoll
13358 9.400901        98                            Aldabra Atoll
13359 9.400901        98                            Aldabra Atoll
13360 9.400901        98                            Aldabra Atoll
13361 9.400901        98                            Aldabra Atoll
13362 9.400901        98                            Aldabra Atoll
13363 9.400901        98                            Aldabra Atoll
13364 9.400901        98                            Aldabra Atoll
13365 9.400901        98                            Aldabra Atoll
13366 9.400901        98                            Aldabra Atoll
13367 9.400901        98                            Aldabra Atoll
13368 9.400901        98                            Aldabra Atoll
13369 9.400901        98                            Aldabra Atoll
13370 9.400901        98                            Aldabra Atoll
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      sampleSizeValue sampleSizeUnit asv       organismQuantity
1     1450            ml             asv.2        14
2     1450            ml             asv.5     40587
3     1450            ml             asv.6         7
4     1450            ml             asv.7     29367
5     1450            ml             asv.8     72378
6     1450            ml             asv.9     35970
7     1450            ml             asv.10       10
8     1450            ml             asv.11     4375
9     1450            ml             asv.12     6853
10    1450            ml             asv.14     2299
11    1450            ml             asv.16       18
12    1450            ml             asv.17     8017
13    1450            ml             asv.19     1736
14    1450            ml             asv.20      428
15    1450            ml             asv.21     1711
16    1450            ml             asv.25     2539
17    1450            ml             asv.28        8
18    1450            ml             asv.29     2378
19    1450            ml             asv.30        5
20    1450            ml             asv.31     2645
21    1450            ml             asv.33     2074
22    1450            ml             asv.37     2200
23    1450            ml             asv.38     1204
24    1450            ml             asv.39       18
25    1450            ml             asv.42        7
26    1450            ml             asv.43      634
27    1450            ml             asv.45       71
28    1450            ml             asv.47      422
29    1450            ml             asv.49        1
30    1450            ml             asv.50        5
⋮     ⋮               ⋮              ⋮         ⋮
13346 1500            ml             asv.16798 11
13347 1500            ml             asv.16813  1
13348 1500            ml             asv.16814  1
13349 1500            ml             asv.16815  4
13350 1500            ml             asv.16816  7
13351 1500            ml             asv.16823  3
13352 1500            ml             asv.16826  9
13353 1500            ml             asv.16847  3
13354 1500            ml             asv.16864  1
13355 1500            ml             asv.16867  5
13356 1500            ml             asv.16875  1
13357 1500            ml             asv.16879  2
13358 1500            ml             asv.16880  5
13359 1500            ml             asv.16881  5
13360 1500            ml             asv.16882  3
13361 1500            ml             asv.16897  2
13362 1500            ml             asv.16898  1
13363 1500            ml             asv.16914  2
13364 1500            ml             asv.16916  2
13365 1500            ml             asv.16918  3
13366 1500            ml             asv.16919  3
13367 1500            ml             asv.16920  2
13368 1500            ml             asv.16921  3
13369 1500            ml             asv.16922  3
13370 1500            ml             asv.16923  2
13371 1500            ml             asv.16949  1
13372 1500            ml             asv.16958  1
13373 1500            ml             asv.16961  1
13374 1500            ml             asv.16962  1
13375 1500            ml             asv.16963  2
      occurrenceID     verbatimIdentification
1     EE0493_asv.2     Clausocalanus_furcatus
2     EE0493_asv.5     Eukaryota
3     EE0493_asv.6     Farranula_gibbula
4     EE0493_asv.7     Eukaryota
5     EE0493_asv.8     Metazoa
6     EE0493_asv.9     Eukaryota
7     EE0493_asv.10    Metazoa
8     EE0493_asv.11    Eukaryota
9     EE0493_asv.12    Eukaryota
10    EE0493_asv.14    Eukaryota
11    EE0493_asv.16    Clausocalanus_furcatus
12    EE0493_asv.17    Eukaryota
13    EE0493_asv.19    Eukaryota
14    EE0493_asv.20    Eukaryota
15    EE0493_asv.21    Eukaryota
16    EE0493_asv.25    Eukaryota
17    EE0493_asv.28    Clausocalanus_furcatus
18    EE0493_asv.29    Eukaryota
19    EE0493_asv.30    Farranula_gibbula
20    EE0493_asv.31    undef_Eukaryota
21    EE0493_asv.33    Eukaryota
22    EE0493_asv.37    Eukaryota
23    EE0493_asv.38    Eukaryota
24    EE0493_asv.39    Acartia_negligens
25    EE0493_asv.42    Metazoa
26    EE0493_asv.43    Phaeocystis
27    EE0493_asv.45    Eukaryota
28    EE0493_asv.47    Metazoa
29    EE0493_asv.49    Phanerophthalmus_lentigines
30    EE0493_asv.50    Metazoa
⋮     ⋮                ⋮
13346 EE0495_asv.16798 Metazoa
13347 EE0495_asv.16813 Metazoa
13348 EE0495_asv.16814 Eukaryota
13349 EE0495_asv.16815 Metazoa
13350 EE0495_asv.16816 Metazoa
13351 EE0495_asv.16823 Eukaryota
13352 EE0495_asv.16826 Metazoa
13353 EE0495_asv.16847 Eukaryota
13354 EE0495_asv.16864 Eukaryota
13355 EE0495_asv.16867 Eukaryota
13356 EE0495_asv.16875 Clausocalanus_furcatus
13357 EE0495_asv.16879 Metazoa
13358 EE0495_asv.16880 Metazoa
13359 EE0495_asv.16881 Metazoa
13360 EE0495_asv.16882 Eukaryota
13361 EE0495_asv.16897 Metazoa
13362 EE0495_asv.16898 Metazoa
13363 EE0495_asv.16914 Eukaryota
13364 EE0495_asv.16916 Oncaea_media
13365 EE0495_asv.16918 Eukaryota
13366 EE0495_asv.16919 Eukaryota
13367 EE0495_asv.16920 Metazoa
13368 EE0495_asv.16921 Eukaryota
13369 EE0495_asv.16922 Arthropoda
13370 EE0495_asv.16923 Eukaryota
13371 EE0495_asv.16949 Metazoa
13372 EE0495_asv.16958 Eukaryota
13373 EE0495_asv.16961 Eukaryota
13374 EE0495_asv.16962 Mantoniella_squamata
13375 EE0495_asv.16963 Metazoa

## Quality control

### Taxon matching

Let's first match the taxa with WoRMS. This can be done using the `obistools` package. Before matching with WoRMS we will remove underscores from the scientific names.

In [45]:
taxon_names <- stringr::str_replace(occurrence$verbatimIdentification, "_", " ")

In [50]:
matched <- obistools::match_taxa(taxon_names, ask = FALSE) %>%
    select(scientificName, scientificNameID)
matched

433 names, 0 without matches, 10 with multiple matches

         scientificName              scientificNameID
106      Clausocalanus furcatus      urn:lsid:marinespecies.org:taxname:104503
163      NA                          NA
168      Farranula gibbula           urn:lsid:marinespecies.org:taxname:346477
163.1    NA                          NA
265      Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.2    NA                          NA
265.1    Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.3    NA                          NA
163.4    NA                          NA
163.5    NA                          NA
106.1    Clausocalanus furcatus      urn:lsid:marinespecies.org:taxname:104503
163.6    NA                          NA
163.7    NA                          NA
163.8    NA                          NA
163.9    NA                          NA
163.10   NA                          NA
106.2    Clausocalanus furcatus      urn:lsid:marinespecies.org:taxname:104503
163.11   NA                          NA
168.1    Farranula gibbula           urn:lsid:marinespecies.org:taxname:346477
421      NA                          NA
163.12   NA                          NA
163.13   NA                          NA
163.14   NA                          NA
8        Acartia negligens           urn:lsid:marinespecies.org:taxname:104259
265.2    Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
316      Phaeocystis                 urn:lsid:marinespecies.org:taxname:115088
163.15   NA                          NA
265.3    Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
320      Phanerophthalmus lentigines urn:lsid:marinespecies.org:taxname:1313730
265.4    Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
⋮        ⋮                           ⋮
265.1822 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
265.1823 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8651 NA                          NA
265.1824 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
265.1825 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8652 NA                          NA
265.1826 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8653 NA                          NA
163.8654 NA                          NA
163.8655 NA                          NA
106.12   Clausocalanus furcatus      urn:lsid:marinespecies.org:taxname:104503
265.1827 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
265.1828 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
265.1829 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8656 NA                          NA
265.1830 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
265.1831 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8657 NA                          NA
292.3    Oncaea media                urn:lsid:marinespecies.org:taxname:128938
163.8658 NA                          NA
163.8659 NA                          NA
265.1832 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8660 NA                          NA
31.233   Arthropoda                  urn:lsid:marinespecies.org:taxname:1065
163.8661 NA                          NA
265.1833 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573
163.8662 NA                          NA
163.8663 NA                          NA
262.3    Mantoniella squamata        urn:lsid:marinespecies.org:taxname:134563
265.1834 Metazoa                     urn:lsid:marinespecies.org:taxname:1486573

In [51]:
occurrence <- bind_cols(occurrence, matched)
occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
6     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
7     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
8     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
9     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
10    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
11    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
12    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
13    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
14    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
15    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
16    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
17    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
18    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
19    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
20    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
21    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
22    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
23    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
24    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
25    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
26    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
27    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
28    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
29    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
30    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13346 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13347 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13348 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13349 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13350 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13351 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13352 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13353 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13354 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13355 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13356 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13357 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13358 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13359 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13360 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13361 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13362 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13363 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13364 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13365 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13366 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13367 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13368 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13369 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13370 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
6     9.42518         20                            Aldabra Atoll
7     9.42518         20                            Aldabra Atoll
8     9.42518         20                            Aldabra Atoll
9     9.42518         20                            Aldabra Atoll
10    9.42518         20                            Aldabra Atoll
11    9.42518         20                            Aldabra Atoll
12    9.42518         20                            Aldabra Atoll
13    9.42518         20                            Aldabra Atoll
14    9.42518         20                            Aldabra Atoll
15    9.42518         20                            Aldabra Atoll
16    9.42518         20                            Aldabra Atoll
17    9.42518         20                            Aldabra Atoll
18    9.42518         20                            Aldabra Atoll
19    9.42518         20                            Aldabra Atoll
20    9.42518         20                            Aldabra Atoll
21    9.42518         20                            Aldabra Atoll
22    9.42518         20                            Aldabra Atoll
23    9.42518         20                            Aldabra Atoll
24    9.42518         20                            Aldabra Atoll
25    9.42518         20                            Aldabra Atoll
26    9.42518         20                            Aldabra Atoll
27    9.42518         20                            Aldabra Atoll
28    9.42518         20                            Aldabra Atoll
29    9.42518         20                            Aldabra Atoll
30    9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13346 9.400901        98                            Aldabra Atoll
13347 9.400901        98                            Aldabra Atoll
13348 9.400901        98                            Aldabra Atoll
13349 9.400901        98                            Aldabra Atoll
13350 9.400901        98                            Aldabra Atoll
13351 9.400901        98                            Aldabra Atoll
13352 9.400901        98                            Aldabra Atoll
13353 9.400901        98                            Aldabra Atoll
13354 9.400901        98                            Aldabra Atoll
13355 9.400901        98                            Aldabra Atoll
13356 9.400901        98                            Aldabra Atoll
13357 9.400901        98                            Aldabra Atoll
13358 9.400901        98                            Aldabra Atoll
13359 9.400901        98                            Aldabra Atoll
13360 9.400901        98                            Aldabra Atoll
13361 9.400901        98                            Aldabra Atoll
13362 9.400901        98                            Aldabra Atoll
13363 9.400901        98                            Aldabra Atoll
13364 9.400901        98                            Aldabra Atoll
13365 9.400901        98                            Aldabra Atoll
13366 9.400901        98                            Aldabra Atoll
13367 9.400901        98                            Aldabra Atoll
13368 9.400901        98                            Aldabra Atoll
13369 9.400901        98                            Aldabra Atoll
13370 9.400901        98                            Aldabra Atoll
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      sampleSizeValue sampleSizeUnit asv       organismQuantity
1     1450            ml             asv.2        14
2     1450            ml             asv.5     40587
3     1450            ml             asv.6         7
4     1450            ml             asv.7     29367
5     1450            ml             asv.8     72378
6     1450            ml             asv.9     35970
7     1450            ml             asv.10       10
8     1450            ml             asv.11     4375
9     1450            ml             asv.12     6853
10    1450            ml             asv.14     2299
11    1450            ml             asv.16       18
12    1450            ml             asv.17     8017
13    1450            ml             asv.19     1736
14    1450            ml             asv.20      428
15    1450            ml             asv.21     1711
16    1450            ml             asv.25     2539
17    1450            ml             asv.28        8
18    1450            ml             asv.29     2378
19    1450            ml             asv.30        5
20    1450            ml             asv.31     2645
21    1450            ml             asv.33     2074
22    1450            ml             asv.37     2200
23    1450            ml             asv.38     1204
24    1450            ml             asv.39       18
25    1450            ml             asv.42        7
26    1450            ml             asv.43      634
27    1450            ml             asv.45       71
28    1450            ml             asv.47      422
29    1450            ml             asv.49        1
30    1450            ml             asv.50        5
⋮     ⋮               ⋮              ⋮         ⋮
13346 1500            ml             asv.16798 11
13347 1500            ml             asv.16813  1
13348 1500            ml             asv.16814  1
13349 1500            ml             asv.16815  4
13350 1500            ml             asv.16816  7
13351 1500            ml             asv.16823  3
13352 1500            ml             asv.16826  9
13353 1500            ml             asv.16847  3
13354 1500            ml             asv.16864  1
13355 1500            ml             asv.16867  5
13356 1500            ml             asv.16875  1
13357 1500            ml             asv.16879  2
13358 1500            ml             asv.16880  5
13359 1500            ml             asv.16881  5
13360 1500            ml             asv.16882  3
13361 1500            ml             asv.16897  2
13362 1500            ml             asv.16898  1
13363 1500            ml             asv.16914  2
13364 1500            ml             asv.16916  2
13365 1500            ml             asv.16918  3
13366 1500            ml             asv.16919  3
13367 1500            ml             asv.16920  2
13368 1500            ml             asv.16921  3
13369 1500            ml             asv.16922  3
13370 1500            ml             asv.16923  2
13371 1500            ml             asv.16949  1
13372 1500            ml             asv.16958  1
13373 1500            ml             asv.16961  1
13374 1500            ml             asv.16962  1
13375 1500            ml             asv.16963  2
      occurrenceID     verbatimIdentification      scientificName
1     EE0493_asv.2     Clausocalanus_furcatus      Clausocalanus furcatus
2     EE0493_asv.5     Eukaryota                   NA
3     EE0493_asv.6     Farranula_gibbula           Farranula gibbula
4     EE0493_asv.7     Eukaryota                   NA
5     EE0493_asv.8     Metazoa                     Metazoa
6     EE0493_asv.9     Eukaryota                   NA
7     EE0493_asv.10    Metazoa                     Metazoa
8     EE0493_asv.11    Eukaryota                   NA
9     EE0493_asv.12    Eukaryota                   NA
10    EE0493_asv.14    Eukaryota                   NA
11    EE0493_asv.16    Clausocalanus_furcatus      Clausocalanus furcatus
12    EE0493_asv.17    Eukaryota                   NA
13    EE0493_asv.19    Eukaryota                   NA
14    EE0493_asv.20    Eukaryota                   NA
15    EE0493_asv.21    Eukaryota                   NA
16    EE0493_asv.25    Eukaryota                   NA
17    EE0493_asv.28    Clausocalanus_furcatus      Clausocalanus furcatus
18    EE0493_asv.29    Eukaryota                   NA
19    EE0493_asv.30    Farranula_gibbula           Farranula gibbula
20    EE0493_asv.31    undef_Eukaryota             NA
21    EE0493_asv.33    Eukaryota                   NA
22    EE0493_asv.37    Eukaryota                   NA
23    EE0493_asv.38    Eukaryota                   NA
24    EE0493_asv.39    Acartia_negligens           Acartia negligens
25    EE0493_asv.42    Metazoa                     Metazoa
26    EE0493_asv.43    Phaeocystis                 Phaeocystis
27    EE0493_asv.45    Eukaryota                   NA
28    EE0493_asv.47    Metazoa                     Metazoa
29    EE0493_asv.49    Phanerophthalmus_lentigines Phanerophthalmus lentigines
30    EE0493_asv.50    Metazoa                     Metazoa
⋮     ⋮                ⋮                           ⋮
13346 EE0495_asv.16798 Metazoa                     Metazoa
13347 EE0495_asv.16813 Metazoa                     Metazoa
13348 EE0495_asv.16814 Eukaryota                   NA
13349 EE0495_asv.16815 Metazoa                     Metazoa
13350 EE0495_asv.16816 Metazoa                     Metazoa
13351 EE0495_asv.16823 Eukaryota                   NA
13352 EE0495_asv.16826 Metazoa                     Metazoa
13353 EE0495_asv.16847 Eukaryota                   NA
13354 EE0495_asv.16864 Eukaryota                   NA
13355 EE0495_asv.16867 Eukaryota                   NA
13356 EE0495_asv.16875 Clausocalanus_furcatus      Clausocalanus furcatus
13357 EE0495_asv.16879 Metazoa                     Metazoa
13358 EE0495_asv.16880 Metazoa                     Metazoa
13359 EE0495_asv.16881 Metazoa                     Metazoa
13360 EE0495_asv.16882 Eukaryota                   NA
13361 EE0495_asv.16897 Metazoa                     Metazoa
13362 EE0495_asv.16898 Metazoa                     Metazoa
13363 EE0495_asv.16914 Eukaryota                   NA
13364 EE0495_asv.16916 Oncaea_media                Oncaea media
13365 EE0495_asv.16918 Eukaryota                   NA
13366 EE0495_asv.16919 Eukaryota                   NA
13367 EE0495_asv.16920 Metazoa                     Metazoa
13368 EE0495_asv.16921 Eukaryota                   NA
13369 EE0495_asv.16922 Arthropoda                  Arthropoda
13370 EE0495_asv.16923 Eukaryota                   NA
13371 EE0495_asv.16949 Metazoa                     Metazoa
13372 EE0495_asv.16958 Eukaryota                   NA
13373 EE0495_asv.16961 Eukaryota                   NA
13374 EE0495_asv.16962 Mantoniella_squamata        Mantoniella squamata
13375 EE0495_asv.16963 Metazoa                     Metazoa
      scientificNameID
1     urn:lsid:marinespecies.org:taxname:104503
2     NA
3     urn:lsid:marinespecies.org:taxname:346477
4     NA
5     urn:lsid:marinespecies.org:taxname:1486573
6     NA
7     urn:lsid:marinespecies.org:taxname:1486573
8     NA
9     NA
10    NA
11    urn:lsid:marinespecies.org:taxname:104503
12    NA
13    NA
14    NA
15    NA
16    NA
17    urn:lsid:marinespecies.org:taxname:104503
18    NA
19    urn:lsid:marinespecies.org:taxname:346477
20    NA
21    NA
22    NA
23    NA
24    urn:lsid:marinespecies.org:taxname:104259
25    urn:lsid:marinespecies.org:taxname:1486573
26    urn:lsid:marinespecies.org:taxname:115088
27    NA
28    urn:lsid:marinespecies.org:taxname:1486573
29    urn:lsid:marinespecies.org:taxname:1313730
30    urn:lsid:marinespecies.org:taxname:1486573
⋮     ⋮
13346 urn:lsid:marinespecies.org:taxname:1486573
13347 urn:lsid:marinespecies.org:taxname:1486573
13348 NA
13349 urn:lsid:marinespecies.org:taxname:1486573
13350 urn:lsid:marinespecies.org:taxname:1486573
13351 NA
13352 urn:lsid:marinespecies.org:taxname:1486573
13353 NA
13354 NA
13355 NA
13356 urn:lsid:marinespecies.org:taxname:104503
13357 urn:lsid:marinespecies.org:taxname:1486573
13358 urn:lsid:marinespecies.org:taxname:1486573
13359 urn:lsid:marinespecies.org:taxname:1486573
13360 NA
13361 urn:lsid:marinespecies.org:taxname:1486573
13362 urn:lsid:marinespecies.org:taxname:1486573
13363 NA
13364 urn:lsid:marinespecies.org:taxname:128938
13365 NA
13366 NA
13367 urn:lsid:marinespecies.org:taxname:1486573
13368 NA
13369 urn:lsid:marinespecies.org:taxname:1065
13370 NA
13371 urn:lsid:marinespecies.org:taxname:1486573
13372 NA
13373 NA
13374 urn:lsid:marinespecies.org:taxname:134563
13375 urn:lsid:marinespecies.org:taxname:1486573

In [53]:
occurrence %>%
    filter(is.na(scientificNameID)) %>%
    group_by(verbatimIdentification) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

   verbatimIdentification         n
1  Eukaryota                      8664
2  undef_Eukaryota                 447
3                                  283
4  undef_Oomycota                   30
5  Navicula                          9
6  undef_Bacteria_bacteria           7
7  Clathria_genus                    5
8  Nitzschia_sp._BOLD:AAO7110        4
9  Aerococcus_urinae                 3
10 Holothuria                        3
11 Pinnularia_acrosphaeria           3
12 Austrosciara_hyalipennis          2
13 Cladonema_digitatum               2
14 Cladosporium_tenuissimum          2
15 Clytia                            2
16 Gerres_longirostris               2
17 Aplysia                           1
18 Aurantiochytrium_mangrovei        1
19 Calonectria_colhounii             1
20 Cerithium_nodulosum               1
21 Colletotrichum_gloeosporioides    1
22 Cymadusa_filosa                   1
23 Lobophora_brown_algae             1
24 Nitzschia_diatoms                 1
25 Synchaetomella_acerina            1
26 undef_Gastropoda                  1
27 undef_undef_Eukaryota             1

Normally we have to resolve these names one by one, but for this exercise we will just fix the most common errors. For example, records annotated as eukaryotes can be populated with scientificName `Incertae sedis` and scientificNameID `urn:lsid:marinespecies.org:taxname:12`.

In [56]:
occurrence <- occurrence %>%
    mutate(
        scientificName = case_when(verbatimIdentification %in% c("Eukaryota", "undef_Eukaryota", "") ~ "Incertae sedis", .default = scientificName),
        scientificNameID = case_when(verbatimIdentification %in% c("Eukaryota", "undef_Eukaryota", "") ~ "urn:lsid:marinespecies.org:taxname:12", .default = scientificNameID)
    )

In [57]:
occurrence %>%
    filter(is.na(scientificNameID)) %>%
    group_by(verbatimIdentification) %>%
    summarize(n = n()) %>%
    arrange(desc(n))

   verbatimIdentification         n
1  undef_Oomycota                 30
2  Navicula                        9
3  undef_Bacteria_bacteria         7
4  Clathria_genus                  5
5  Nitzschia_sp._BOLD:AAO7110      4
6  Aerococcus_urinae               3
7  Holothuria                      3
8  Pinnularia_acrosphaeria         3
9  Austrosciara_hyalipennis        2
10 Cladonema_digitatum             2
11 Cladosporium_tenuissimum        2
12 Clytia                          2
13 Gerres_longirostris             2
14 Aplysia                         1
15 Aurantiochytrium_mangrovei      1
16 Calonectria_colhounii           1
17 Cerithium_nodulosum             1
18 Colletotrichum_gloeosporioides  1
19 Cymadusa_filosa                 1
20 Lobophora_brown_algae           1
21 Nitzschia_diatoms               1
22 Synchaetomella_acerina          1
23 undef_Gastropoda                1
24 undef_undef_Eukaryota           1

In [58]:
occurrence

      eventID materialSampleID eventDate  locality         decimalLongitude
1     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
2     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
3     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
4     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
5     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
6     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
7     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
8     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
9     EE0493  EE0493           24/04/2023 Ile esprit       46.22536
10    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
11    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
12    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
13    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
14    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
15    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
16    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
17    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
18    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
19    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
20    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
21    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
22    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
23    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
24    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
25    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
26    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
27    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
28    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
29    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
30    EE0493  EE0493           24/04/2023 Ile esprit       46.22536
⋮     ⋮       ⋮                ⋮          ⋮                ⋮
13346 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13347 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13348 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13349 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13350 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13351 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13352 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13353 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13354 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13355 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13356 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13357 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13358 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13359 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13360 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13361 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13362 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13363 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13364 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13365 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13366 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13367 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13368 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13369 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13370 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13371 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13372 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13373 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13374 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
13375 EE0495  EE0495           02/04/2023 Settlement beach 46.20605
      decimalLatitude coordinateUncertaintyInMeters higherGeography
1     9.42518         20                            Aldabra Atoll
2     9.42518         20                            Aldabra Atoll
3     9.42518         20                            Aldabra Atoll
4     9.42518         20                            Aldabra Atoll
5     9.42518         20                            Aldabra Atoll
6     9.42518         20                            Aldabra Atoll
7     9.42518         20                            Aldabra Atoll
8     9.42518         20                            Aldabra Atoll
9     9.42518         20                            Aldabra Atoll
10    9.42518         20                            Aldabra Atoll
11    9.42518         20                            Aldabra Atoll
12    9.42518         20                            Aldabra Atoll
13    9.42518         20                            Aldabra Atoll
14    9.42518         20                            Aldabra Atoll
15    9.42518         20                            Aldabra Atoll
16    9.42518         20                            Aldabra Atoll
17    9.42518         20                            Aldabra Atoll
18    9.42518         20                            Aldabra Atoll
19    9.42518         20                            Aldabra Atoll
20    9.42518         20                            Aldabra Atoll
21    9.42518         20                            Aldabra Atoll
22    9.42518         20                            Aldabra Atoll
23    9.42518         20                            Aldabra Atoll
24    9.42518         20                            Aldabra Atoll
25    9.42518         20                            Aldabra Atoll
26    9.42518         20                            Aldabra Atoll
27    9.42518         20                            Aldabra Atoll
28    9.42518         20                            Aldabra Atoll
29    9.42518         20                            Aldabra Atoll
30    9.42518         20                            Aldabra Atoll
⋮     ⋮               ⋮                             ⋮
13346 9.400901        98                            Aldabra Atoll
13347 9.400901        98                            Aldabra Atoll
13348 9.400901        98                            Aldabra Atoll
13349 9.400901        98                            Aldabra Atoll
13350 9.400901        98                            Aldabra Atoll
13351 9.400901        98                            Aldabra Atoll
13352 9.400901        98                            Aldabra Atoll
13353 9.400901        98                            Aldabra Atoll
13354 9.400901        98                            Aldabra Atoll
13355 9.400901        98                            Aldabra Atoll
13356 9.400901        98                            Aldabra Atoll
13357 9.400901        98                            Aldabra Atoll
13358 9.400901        98                            Aldabra Atoll
13359 9.400901        98                            Aldabra Atoll
13360 9.400901        98                            Aldabra Atoll
13361 9.400901        98                            Aldabra Atoll
13362 9.400901        98                            Aldabra Atoll
13363 9.400901        98                            Aldabra Atoll
13364 9.400901        98                            Aldabra Atoll
13365 9.400901        98                            Aldabra Atoll
13366 9.400901        98                            Aldabra Atoll
13367 9.400901        98                            Aldabra Atoll
13368 9.400901        98                            Aldabra Atoll
13369 9.400901        98                            Aldabra Atoll
13370 9.400901        98                            Aldabra Atoll
13371 9.400901        98                            Aldabra Atoll
13372 9.400901        98                            Aldabra Atoll
13373 9.400901        98                            Aldabra Atoll
13374 9.400901        98                            Aldabra Atoll
13375 9.400901        98                            Aldabra Atoll
      sampleSizeValue sampleSizeUnit asv       organismQuantity
1     1450            ml             asv.2        14
2     1450            ml             asv.5     40587
3     1450            ml             asv.6         7
4     1450            ml             asv.7     29367
5     1450            ml             asv.8     72378
6     1450            ml             asv.9     35970
7     1450            ml             asv.10       10
8     1450            ml             asv.11     4375
9     1450            ml             asv.12     6853
10    1450            ml             asv.14     2299
11    1450            ml             asv.16       18
12    1450            ml             asv.17     8017
13    1450            ml             asv.19     1736
14    1450            ml             asv.20      428
15    1450            ml             asv.21     1711
16    1450            ml             asv.25     2539
17    1450            ml             asv.28        8
18    1450            ml             asv.29     2378
19    1450            ml             asv.30        5
20    1450            ml             asv.31     2645
21    1450            ml             asv.33     2074
22    1450            ml             asv.37     2200
23    1450            ml             asv.38     1204
24    1450            ml             asv.39       18
25    1450            ml             asv.42        7
26    1450            ml             asv.43      634
27    1450            ml             asv.45       71
28    1450            ml             asv.47      422
29    1450            ml             asv.49        1
30    1450            ml             asv.50        5
⋮     ⋮               ⋮              ⋮         ⋮
13346 1500            ml             asv.16798 11
13347 1500            ml             asv.16813  1
13348 1500            ml             asv.16814  1
13349 1500            ml             asv.16815  4
13350 1500            ml             asv.16816  7
13351 1500            ml             asv.16823  3
13352 1500            ml             asv.16826  9
13353 1500            ml             asv.16847  3
13354 1500            ml             asv.16864  1
13355 1500            ml             asv.16867  5
13356 1500            ml             asv.16875  1
13357 1500            ml             asv.16879  2
13358 1500            ml             asv.16880  5
13359 1500            ml             asv.16881  5
13360 1500            ml             asv.16882  3
13361 1500            ml             asv.16897  2
13362 1500            ml             asv.16898  1
13363 1500            ml             asv.16914  2
13364 1500            ml             asv.16916  2
13365 1500            ml             asv.16918  3
13366 1500            ml             asv.16919  3
13367 1500            ml             asv.16920  2
13368 1500            ml             asv.16921  3
13369 1500            ml             asv.16922  3
13370 1500            ml             asv.16923  2
13371 1500            ml             asv.16949  1
13372 1500            ml             asv.16958  1
13373 1500            ml             asv.16961  1
13374 1500            ml             asv.16962  1
13375 1500            ml             asv.16963  2
      occurrenceID     verbatimIdentification      scientificName
1     EE0493_asv.2     Clausocalanus_furcatus      Clausocalanus furcatus
2     EE0493_asv.5     Eukaryota                   Incertae sedis
3     EE0493_asv.6     Farranula_gibbula           Farranula gibbula
4     EE0493_asv.7     Eukaryota                   Incertae sedis
5     EE0493_asv.8     Metazoa                     Metazoa
6     EE0493_asv.9     Eukaryota                   Incertae sedis
7     EE0493_asv.10    Metazoa                     Metazoa
8     EE0493_asv.11    Eukaryota                   Incertae sedis
9     EE0493_asv.12    Eukaryota                   Incertae sedis
10    EE0493_asv.14    Eukaryota                   Incertae sedis
11    EE0493_asv.16    Clausocalanus_furcatus      Clausocalanus furcatus
12    EE0493_asv.17    Eukaryota                   Incertae sedis
13    EE0493_asv.19    Eukaryota                   Incertae sedis
14    EE0493_asv.20    Eukaryota                   Incertae sedis
15    EE0493_asv.21    Eukaryota                   Incertae sedis
16    EE0493_asv.25    Eukaryota                   Incertae sedis
17    EE0493_asv.28    Clausocalanus_furcatus      Clausocalanus furcatus
18    EE0493_asv.29    Eukaryota                   Incertae sedis
19    EE0493_asv.30    Farranula_gibbula           Farranula gibbula
20    EE0493_asv.31    undef_Eukaryota             Incertae sedis
21    EE0493_asv.33    Eukaryota                   Incertae sedis
22    EE0493_asv.37    Eukaryota                   Incertae sedis
23    EE0493_asv.38    Eukaryota                   Incertae sedis
24    EE0493_asv.39    Acartia_negligens           Acartia negligens
25    EE0493_asv.42    Metazoa                     Metazoa
26    EE0493_asv.43    Phaeocystis                 Phaeocystis
27    EE0493_asv.45    Eukaryota                   Incertae sedis
28    EE0493_asv.47    Metazoa                     Metazoa
29    EE0493_asv.49    Phanerophthalmus_lentigines Phanerophthalmus lentigines
30    EE0493_asv.50    Metazoa                     Metazoa
⋮     ⋮                ⋮                           ⋮
13346 EE0495_asv.16798 Metazoa                     Metazoa
13347 EE0495_asv.16813 Metazoa                     Metazoa
13348 EE0495_asv.16814 Eukaryota                   Incertae sedis
13349 EE0495_asv.16815 Metazoa                     Metazoa
13350 EE0495_asv.16816 Metazoa                     Metazoa
13351 EE0495_asv.16823 Eukaryota                   Incertae sedis
13352 EE0495_asv.16826 Metazoa                     Metazoa
13353 EE0495_asv.16847 Eukaryota                   Incertae sedis
13354 EE0495_asv.16864 Eukaryota                   Incertae sedis
13355 EE0495_asv.16867 Eukaryota                   Incertae sedis
13356 EE0495_asv.16875 Clausocalanus_furcatus      Clausocalanus furcatus
13357 EE0495_asv.16879 Metazoa                     Metazoa
13358 EE0495_asv.16880 Metazoa                     Metazoa
13359 EE0495_asv.16881 Metazoa                     Metazoa
13360 EE0495_asv.16882 Eukaryota                   Incertae sedis
13361 EE0495_asv.16897 Metazoa                     Metazoa
13362 EE0495_asv.16898 Metazoa                     Metazoa
13363 EE0495_asv.16914 Eukaryota                   Incertae sedis
13364 EE0495_asv.16916 Oncaea_media                Oncaea media
13365 EE0495_asv.16918 Eukaryota                   Incertae sedis
13366 EE0495_asv.16919 Eukaryota                   Incertae sedis
13367 EE0495_asv.16920 Metazoa                     Metazoa
13368 EE0495_asv.16921 Eukaryota                   Incertae sedis
13369 EE0495_asv.16922 Arthropoda                  Arthropoda
13370 EE0495_asv.16923 Eukaryota                   Incertae sedis
13371 EE0495_asv.16949 Metazoa                     Metazoa
13372 EE0495_asv.16958 Eukaryota                   Incertae sedis
13373 EE0495_asv.16961 Eukaryota                   Incertae sedis
13374 EE0495_asv.16962 Mantoniella_squamata        Mantoniella squamata
13375 EE0495_asv.16963 Metazoa                     Metazoa
      scientificNameID
1     urn:lsid:marinespecies.org:taxname:104503
2     urn:lsid:marinespecies.org:taxname:12
3     urn:lsid:marinespecies.org:taxname:346477
4     urn:lsid:marinespecies.org:taxname:12
5     urn:lsid:marinespecies.org:taxname:1486573
6     urn:lsid:marinespecies.org:taxname:12
7     urn:lsid:marinespecies.org:taxname:1486573
8     urn:lsid:marinespecies.org:taxname:12
9     urn:lsid:marinespecies.org:taxname:12
10    urn:lsid:marinespecies.org:taxname:12
11    urn:lsid:marinespecies.org:taxname:104503
12    urn:lsid:marinespecies.org:taxname:12
13    urn:lsid:marinespecies.org:taxname:12
14    urn:lsid:marinespecies.org:taxname:12
15    urn:lsid:marinespecies.org:taxname:12
16    urn:lsid:marinespecies.org:taxname:12
17    urn:lsid:marinespecies.org:taxname:104503
18    urn:lsid:marinespecies.org:taxname:12
19    urn:lsid:marinespecies.org:taxname:346477
20    urn:lsid:marinespecies.org:taxname:12
21    urn:lsid:marinespecies.org:taxname:12
22    urn:lsid:marinespecies.org:taxname:12
23    urn:lsid:marinespecies.org:taxname:12
24    urn:lsid:marinespecies.org:taxname:104259
25    urn:lsid:marinespecies.org:taxname:1486573
26    urn:lsid:marinespecies.org:taxname:115088
27    urn:lsid:marinespecies.org:taxname:12
28    urn:lsid:marinespecies.org:taxname:1486573
29    urn:lsid:marinespecies.org:taxname:1313730
30    urn:lsid:marinespecies.org:taxname:1486573
⋮     ⋮
13346 urn:lsid:marinespecies.org:taxname:1486573
13347 urn:lsid:marinespecies.org:taxname:1486573
13348 urn:lsid:marinespecies.org:taxname:12
13349 urn:lsid:marinespecies.org:taxname:1486573
13350 urn:lsid:marinespecies.org:taxname:1486573
13351 urn:lsid:marinespecies.org:taxname:12
13352 urn:lsid:marinespecies.org:taxname:1486573
13353 urn:lsid:marinespecies.org:taxname:12
13354 urn:lsid:marinespecies.org:taxname:12
13355 urn:lsid:marinespecies.org:taxname:12
13356 urn:lsid:marinespecies.org:taxname:104503
13357 urn:lsid:marinespecies.org:taxname:1486573
13358 urn:lsid:marinespecies.org:taxname:1486573
13359 urn:lsid:marinespecies.org:taxname:1486573
13360 urn:lsid:marinespecies.org:taxname:12
13361 urn:lsid:marinespecies.org:taxname:1486573
13362 urn:lsid:marinespecies.org:taxname:1486573
13363 urn:lsid:marinespecies.org:taxname:12
13364 urn:lsid:marinespecies.org:taxname:128938
13365 urn:lsid:marinespecies.org:taxname:12
13366 urn:lsid:marinespecies.org:taxname:12
13367 urn:lsid:marinespecies.org:taxname:1486573
13368 urn:lsid:marinespecies.org:taxname:12
13369 urn:lsid:marinespecies.org:taxname:1065
13370 urn:lsid:marinespecies.org:taxname:12
13371 urn:lsid:marinespecies.org:taxname:1486573
13372 urn:lsid:marinespecies.org:taxname:12
13373 urn:lsid:marinespecies.org:taxname:12
13374 urn:lsid:marinespecies.org:taxname:134563
13375 urn:lsid:marinespecies.org:taxname:1486573

### Location